
<!--Event Details-->
<div class="imgDiv">
  <img ng-src = "{{event.imageUrl}}" alt = "" class="imgFrame"/>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>{{event.name | uppercase}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div><strong>Date: </strong> {{event.date}} </div>
    <div><strong>Time: </strong> {{event.time}} </div>
  </div>
  <div class="col-md-8">
    <address>
      <strong>Address: </strong><br/>
      {{event.location.address}}<br/>
      {{event.location.city}}, {{event.location.province}}
    </address>
  </div>
</div>

<hr/>

<h3>Sessions</h3>
<ul class="thumbnails">
  <li ng-repeat="session in event.sessions">

    <div class="row">
      <div class="well col-sm-1 votingWidget">
        <div class="votingButton" ng-click="upVoteSession(session)">
          <i class="glyphicon glyphicon-chevron-up icon-white"></i>
        </div>
        <div class="badge badge-inverse">
          <div>{{session.upVoteCount}}</div>
        </div>
        <div class="votingButton" ng-click="downVoteSession(session)">
          <i class="glyphicon glyphicon-chevron-down"></i>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="well col-sm-10">
        <h4 class="well-title">{{session.name}}</h4>
        <h6 style="margin-top: -10px">{{session.creatorName}}</h6>
        <span>Duration: {{session.duration | durations}}</span><br/> <!--custom filter-->
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </div>
  </li>
</ul>